/*font Variables*/
$primary-font: 'Roboto', sans-serif;
$title-font: 'Rajdhani', sans-serif;


/*Color Variables*/
$primary-color: #3f3d56;
$primary-color2: #8252fa;
$title-color: #423e3e;
$text-color: #6b6b6b;


/*=================== fonts ====================*/
@import url('https://fonts.googleapis.com/css?family=Rajdhani:400,600|Roboto:400,500,500i');


